/* FONT */

@font-face {
    font-family: HeaderFont;
    src: url(../../data/font/PrincessSofia-Regular.ttf);
}

@font-face {
    font-family: IntroFont;
    src: url(../../data/font/quando.regular.ttf);
}

@font-face {
    font-family: ContentFont;
    src: url(../../data/font/PTSansCaption-Regular.ttf);
}

/* INTRO */

body {
    background-color:rgb(0, 0, 0);
} 
.main-intro {
    position: absolute;
    top: 5vw;
    left: 10vw;
    text-align:left;
    color:#ffffff;
}
.intro {
    font-family: HeaderFont;
    font-size:10vw;
    font-weight:bold;
}
.intro-sub {
    font-family: IntroFont;
    font-size:4vw;
}
#intro-sub-name {
    top: 300px;
}
#intro-sub-major {
    top: 300px;
}
#annotation{
    font-family: IntroFont;
    white-space: pre-line;
    font-size:2vw;
    width: 50vw;
    color:#c2c2c2;
    opacity: 0.5;
}
.rec{
    position: fixed;
    background: #FFD600;
    transform: rotate(-45deg);
}
#rec-1{
    width: 250px;
    height: 250px;
    left: 561px;
    top: 639.78px;
}
#rec-2{
    width: 200px;
    height: 200px;
    left: 818px;
    top: 482.42px;
}
#rec-3{
    width: 100px;
    height: 100px;
    left: 991px;
    top: 666.71px;    
}
#rec-4{
    width: 50px;
    height: 50px;
    left: 1126px;
    top: 547.36px;    
}
#rec-5{
    width: 50px;
    height: 50px;
    left: 789px;
    top: 370.36px;    
}

@media (max-width: 1199px) {
    body.menu{
        position: fixed;
        width: 10vw;
        height: 25vw;
        margin: auto;
        right: 0vw;
        top: 0.5vw;
    }
    .menu-rec{
        position: fixed;
        width: 10vw;
        height: 4vw;
        right: 0vw;
        
        background: #FFD600;
        cursor: pointer;      
    }
    .menu-caption{
        position: fixed;
        width: 10vw;
        height: 4vw;
        right: 0vw;

        font-family: HeaderFont;
        font-style: normal;
        font-weight: normal;
        font-size: 2.4vw;
        line-height: 3.6vw;
        text-align: center;

        color: #000000;
        cursor: pointer;
    }
    #menu-about-rec{
        top: 0vw;
    }
    #menu-about-caption{
        top: 0vw;
    }
    #menu-education-rec{
        top: 5vw;
    }
    #menu-education-caption{
        top: 5.5vw;
    }

    #menu-project-rec{
        top: 10vw;
    }
    #menu-project-caption{
        top: 10.5vw;
    }

    #menu-other-rec{
        top: 15vw;
    }
    #menu-other-caption{
        top: 15.5vw;
    }
    #menu-about-caption:hover{
        color: #ffffff;
    }
    #menu-education-caption:hover{
        color: #ffffff;
    }
    #menu-project-caption:hover{
        color: #ffffff;
    }
    #menu-other-caption:hover{
        color: #ffffff;
    }

}

@media (min-width: 1200px) {
    /* MENU */
    body.menu{
        position: fixed;
        width: 100px;
        height: 248px;
        margin: auto;
        top: -100px;  
    }
    .menu:hover{
        top: -50px; 
    }
    .menu-rec{
        /* Rectangle */

        position: fixed;
        width: 10px;

        background: #000000;
        border: 2px solid #FFD600;
        box-sizing: border-box;
    }
    .menu-circle{
        position: fixed;
        width: 100px;
        height: 100px;

        background: #FFFFFF;
        border: 3px solid #FFD600;
        box-sizing: border-box;
        border-radius: 50%;
        display: inline-block;

        cursor: pointer;
    }
    .menu-caption{
        position: fixed;

        font-family: HeaderFont;
        font-style: normal;
        font-weight: normal;

        color: #000000;

        cursor: pointer;
    }
    .menu-about{
        position: relative;
        top: 0;
    }
    #menu-about-rec{
        height: 150px;
        right: 487px;
        top: -100px;
    }
    #menu-about-circle{
        right: 441px;
        top: 48px;
    }
    #menu-about-caption{
        width: 74px;
        height: 56px;
        right: 460px;
        top: 72px;

        font-size: 36px;
        line-height: 56px;
    }

    #menu-education-rec{
        height: 230px;
        right: 368px;
        top: -63px;
    }
    #menu-education-circle{
        right: 322px;
        top: 159px;
    }
    #menu-education-caption{
        width: 87px;
        height: 37px;
        right: 332px;
        top: 190px;

        font-size: 24px;
        line-height: 37px;    
    }

    #menu-project-rec{
        height: 150px;
        right: 249px;
        top: -114px;
    }
    #menu-project-circle{
        right: 203px;
        top: 34px;
    }
    #menu-project-caption{
        width: 79px;
        height: 46px;
        right: 213px;
        top: 58px;
        
        font-size: 30px;
        line-height: 46px;
    }
    #menu-other-rec{
        height: 230px;
        right: 130px;
        top: -58px;
    }
    #menu-other-circle{
        right: 84px;
        top: 164px;
    }
    #menu-other-caption{
        width: 78px;
        height: 80px;
        right: 94px;
        top: 185px;
                
        font-size: 36px;
        line-height: 56px;
    }
    #menu-about-caption:hover{
        color: #FFD600;
    }
    #menu-education-caption:hover{
        color: #FFD600;
    }
    #menu-project-caption:hover{
        color: #FFD600;
    }
    #menu-other-caption:hover{
        color: #FFD600;
    }
}

/* MAIN INFO */
body.main{
    background-color: #000000;
}
.title{
    position: absolute;
    width: fit-content;
    height: 11vw;

    font-family: HeaderFont;
    font-style: normal;
    font-weight: normal;

    color: #FFFFFF;
}
#page-title{
    left: 13vw;
    top: 3.6vw;
    width: 40vw;

    font-size: 6vw;
    line-height: 8vw;
}
#skill-title{
    position: absolute;
    left: 10vw;
    top: 50vw;
    width: fit-content;

    font-size: 6vw;
    line-height: 10vw;
}
#interest-title{
    left: 10vw;
    top: 100vw;

    font-size: 7vw;
    line-height: 10vw;
}
#organization-title{
    position: absolute;
    left: 10vw;
    top: 50vw;
    width: fit-content;

    font-size: 6vw;
    line-height: 10vw;
}
.small-circle{
    position: absolute;
    width: 3vw;
    height: 3vw;
    left: 10vw;

    border: 0.6vw solid #FFD600;
    border-radius: 50%;
    box-sizing: border-box;
}
.circle-connector{
    position: absolute;
    width: 15vw;
    height: 0vw;
    left: 4.035vw;

    border: none;
    border-top: 0.6vw solid #FFD600;
    transform: rotate(89.1deg);
}
#small-circle-1{
    top: 65vw;
}
#small-circle-2{
    top: 82.5vw;
}
#small-circle-3{
    top: 100vw;
}
#small-circle-4{
    top: 117.5vw;
}
#circle-connector-1{
    top: 75vw;
}
#circle-connector-2{
    top: 92.5vw;
}
#circle-connector-3{
    top: 110vw;
}
.organization-name{
    position: relative;
    width: fit-content;
    height: 3.4vw;
    left: 20vw;
    top: -6.5vw;
    
    font-family: ContentFont;
    font-style: normal;
    font-weight: normal;
    font-size: 2.2vw;
    line-height: 2.4vw;    
    color: #FFD600;   
}
.organization-desc{
    position: relative;
    width: 40vw;
    height: 5vw;
    left: 20vw;        
    top: -6vw;

    font-family: ContentFont;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6vw;
    line-height: 2.2vw;
    
    color: #FFFFFF;   
}
#organization-name-1{
    position: absolute;
    top: 68vw;
}
#organization-name-2{
    position: absolute;
    top: 85.5vw;
}
#organization-name-3{
    position: absolute;
    top: 103vw;
}
#organization-desc-1{
    position: absolute;
    top: 73vw;
}
#organization-desc-2{
    position: absolute;
    top: 90.5vw;
}
#organization-desc-3{
    position: absolute;
    top: 108vw;
}

/* ABOUT */
.personal-info{
    position: absolute;
    width: 40vw;
    height: 3vw;
    left: 11vw;
    top: 18vw;
    
    font-family: ContentFont;
    font-style: normal;
    font-weight: normal;
    font-size: 1.8vw;
    line-height: 4vw;
    
    color: #ffffff;        
}
#personal-info-name{
    top: 259px;
}
#personal-info-birth{
    top: 354px;
}
#personal-info-email{
    top: 455px;
}
#personal-info-address{
    top: 538px;
}
.bullets{
    position: relative;
    width: 5.5vw;
    height: 5.5vw;
    left: 10vw;
    top: 0.1vw;
}
.skill-field{
    position: relative;
    width: fit-content;
    height: 3.4vw;
    left: 20vw;
    top: -6.5vw;
    
    font-family: ContentFont;
    font-style: normal;
    font-weight: normal;
    font-size: 2.2vw;
    line-height: 2.4vw;    
    color: #FFD600;
}
.skill-description{
    position: relative;
    width: 40vw;
    height: 5vw;
    left: 20vw;        
    top: -6vw;

    font-family: ContentFont;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6vw;
    line-height: 2.2vw;
    
    color: #FFFFFF;   
}
#skill-list-1{
    position: absolute;
    top: 65vw;
}
#skill-list-2{
    position: absolute;
    top: 75vw;
}
#skill-list-3{
    position: absolute;
    top: 85vw;
}
.interest-field{
    position: absolute;
    left: 20vw;
    width: 15vw;
    height: 5vw;

    font-family: ContentFont;
    font-style: normal;
    font-weight: normal;
    font-size: 2vw;
    line-height: 2.5vw;
    text-align: center;

    color: #FFFFFF;
}
#webdev{
    position: absolute;
    top: 115vw;
}
#ui-ux{
    position: absolute;
    top: 125vw;
}
#ai{
    position: absolute;
    top: 130vw;
}
#data-science{
    position: absolute;
    top: 140vw;
}

/* EDUCATION */
.highschool-box{
    position: absolute;
    width: 17vw;
    height: 17vw;
    left: 10vw;
    top: 15vw;
    
    box-sizing: border-box;
    border-radius: 50%;
    display: inline-block;
    background: #FFFFFF;
    border: 0.5vw solid #FFD600;    
}
#highschool-name{
    position: relative;
    width: 10.9vw;
    height: 4.4vw;
    left: 3vw;
    top: 5vw;

    font-family: ContentFont;
    font-style: normal;
    font-weight: normal;
    font-size: 2.2vw;
    line-height: 3.2vw;
    text-align: center;

    color: #000000;
}
.college-box{
    position: absolute;
    width: 17vw;
    height: 17vw;
    left: 40vw;
    top: 15vw;
    
    box-sizing: border-box;
    border-radius: 50%;
    display: inline-block;
    background: #FFFFFF;
    border: 0.5vw solid #FFD600;    
}
#college-name{
    position: relative;
    width: 10vw;
    height: 4.4vw;
    top: 3.5vw;
    left: 3vw;

    font-family: ContentFont;
    font-style: normal;
    font-weight: normal;
    font-size: 2.2vw;
    line-height: 3.2vw;
    text-align: center;

    color: #000000;
}
.education-connecting-line{
    position: absolute;
    width: 15vw;
    left: 25vw;
    top: 22vw;

    border:none;
    border-top: 1vw dotted #FFD600;
    transform: rotate(0.22deg);    
}
.attribute{
    position: relative;
    color: #000000;
    width: fit-content;
    background-color: #fff7db;
    display: none;
}
.organization content{
    position: absolute;
    top: 80vw;
}


@media (min-width: 1200px) {
    #college-student-icon{
        position: absolute;
        width: 15vw;
        height: auto;
        left: 55vw;
        top: 17vw;    
    }
    #college-student-icon:hover + #icon-student-attribute{
        display: inline;
    }
    #college-status{
        position: absolute;
        width: 30vw;
        left: 40vw;
        top: 35vw;
        
        font-family: ContentFont;
        font-style: normal;
        font-weight: normal;
        font-size: 2.2vw;
        line-height: 3.2vw;
        text-align: center;
        
        color: #FFFFFF;   
    }
}
@media (max-width: 1199px) {
    #college-student-icon{
        display: none;
    }
    #college-status{
        position: absolute;
        width: 25vw;
        left: 35vw;
        top: 35vw;
        
        font-family: ContentFont;
        font-style: normal;
        font-weight: normal;
        font-size: 2.2vw;
        line-height: 2.8vw;
        text-align: center;
        
        color: #FFFFFF;   
    }
}

/* PROJECT */
.project-image{
    position: relative;
}
.project-text{
    position: absolute;
    top: 0px;
    left: 18vw;
}
.project-name{
    position: relative;
    width: 38vw;

    font-family: ContentFont;
    font-style: normal;
    font-weight: normal;
    font-size: 2vw;
    line-height: 2.8vw;

    color: rgb(255, 208, 0);
}
.project-description{
    position: relative;
    width: 25vw;
    top: 0.5vw;

    font-family: ContentFont;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5vw;
    line-height: 2.4vw;

    color: rgb(255, 255, 255);
}
#project-1{
    position: absolute;
    top: 20vw;
    left: 15vw;
}
#project-2{
    position: absolute;
    top: 35vw;
    left: 15vw;
}
#project-3{
    position: absolute;
    top: 60vw;
    left: 15vw;
}
#project-4{
    position: absolute;
    top: 80vw;
    left: 15vw;
}
#project-5{
    position: absolute;
    top: 113vw;
    left: 15vw;
}
#project-6{
    position: absolute;
    top: 132vw;
    left: 15vw;
}
#avatar-card{
    position: relative;
    top: 3.8vw;
    width: 12vw;
    height: auto;
    opacity: 0.75;
}
#carry-app{
    position: relative;
    top: 3vw;
    width: 12vw;
    height: auto;
    opacity: 0.75;
    transform: rotate(90deg);
}
#calculator{
    position: relative;
    width: 12vw;
    height: auto;
    opacity: 0.75;
}
#virus-simul{
    position: relative;
    top: 2vw;
    width: 12vw;
    height: auto;
    opacity: 0.75;
}
#avatar-world-war{
    position: relative;
    width: 12vw;
    height: auto;
    opacity: 0.75;
}
#pokemon{
    position: relative;
    top: 1vw;
    width: 12vw;
    height: auto;
    opacity: 0.75;
}
#avatar-card:hover{
    top: 0vw;
    left: -4vw;
    width: 19vw;
    height: auto;
    opacity: 1;
}
#carry-app:hover{
    left: -4vw;
    top: 2vw;
    width: 20vw;
    height: auto;
    opacity: 1;
}
#calculator:hover{
    top: -2vw;
    left: -2vw;
    width: 18vw;
    height: auto;
    opacity: 1;
}
#virus-simul:hover{
    top: 1vw;
    left: -5vw;
    width: 20vw;
    height: auto;
    opacity: 1;
}
#avatar-world-war:hover{
    top: 0px;
    left: -2vw;
    width: 18vw;
    height: auto;
    opacity: 1;
}
#pokemon:hover{
    top: 0vw;
    left: -2vw;
    width: 18vw;
    height: auto;
    opacity: 1;
}

/* OTHER */
#check-button{
    position: absolute;
    top: 40vw;
    left: 23vw;
    width: 23vw;

    background-color: #FFFFFF;
    color: #000000;
    font-family: IntroFont;
    font-size: 3vw;
    text-align: center;

    cursor: pointer;
    opacity: 0.75;
}
#check-button:hover{
    opacity: 1;
}
#task-result{
    position: relative;
    top: 17vw;
    left: 15vw;
    width: 40vw;

    color: #ffffff;
    font-family: ContentFont;
    font-size: 2.2vw;
    text-align: center;
}

/* NEXT PAGE */
body.page-next{
    position: fixed;
    size: initial;
    width: 10.9vw;
    height: 22.5vw;
    right: 0vw;
    top: 32.4vw;
}
#next-arrow-img:hover{
    opacity: 0.75;
    right: 0;
}
#next-arrow-img{
    position: fixed;
    width: 6.5vw;
    height: auto;
    right: -1vw;
    top: 23.4vw;
    opacity: 0.25;

    cursor: pointer;
    transition: 0.2s;    
}
#next-page{
    position: fixed;
    top: 20vw;
    right: 0.5vw;
    font-family: IntroFont;
    color: #c2c2c2;
    font-size: 2.1vw;
}

/* PREV PAGE */
body.page-prev{
    /* Group 12 */
    position: fixed;
    size: initial;
    width: 10.9vw;
    height: 22.5vw;
    left: 0vw;
    top: 32.4vw;
}
#prev-arrow-img:hover{
    opacity: 0.75;
    left: 0;
}
#prev-arrow-img{
    position: fixed;
    width: 6.5vw;
    height: auto;
    left: -1vw;
    top: 23.4vw;

    opacity: 0.25;
    transform: rotate(180deg);
    cursor: pointer;
    transition: 0.2s;   
}
#prev-page{
    position: fixed;
    top: 20vw;
    left: 0.5vw;
    font-family: IntroFont;
    color: #c2c2c2;
    font-size: 2.1vw;
}
/* SCROLL DOWN */
#scroll-down-annotation{
    position: absolute;
    right: 43.3%;
    top: 42vw;
    width: 10vw;
    height: 5vw;
    opacity: 0.2;
}
#scroll-down-text{
    position: absolute;
    right: 15.3%;
    top: 40vw;
    width: 25vw;
    font-family: IntroFont;
    text-align: center;
    color: #c2c2c2;
    font-size: 2.1vw;
    opacity: 0;
}
#scroll-down-annotation:hover{
    opacity: 0;
}
